.text-block {
  padding-inline: $outer-screen-margin;
  padding-block: $outer-screen-margin;
  width: 80%;

  &__title {
    padding-inline: 2rem;
  }

  &__description {
    padding-block: 1rem;
    padding-inline: 2rem;
  }
}